/*样式重置文件*/
body,ul,ol,li,h1,h2,h3,h4,h5,h6 {
  margin:0;
  padding: 0;
}

a {
  text-decoration: none;
  color:#333
}

/*image 的 vertical align 重置 */
img {
  vertical-align: top;
}

/*ul,li*/
ul, li {
  list-style: none;
}

